

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
input[id="menuicon"] {display:none;}
input[id="menuicon"] + label {display:block;margin:30px;width:60px;height:50px;position:relative;cursor:pointer;}
input[id="menuicon"] + label span {display:block;position:absolute;width:100%;height:5px;border-radius:30px;background:#ffffff;transition:all .35s;}
input[id="menuicon"] + label span:nth-child(1) {top:0;}
input[id="menuicon"] + label span:nth-child(2) {top:50%;transform:translateY(-50%);}
input[id="menuicon"] + label span:nth-child(3) {bottom:0;}
input[id="menuicon"]:checked + label {z-index:2;}
input[id="menuicon"]:checked + label span {background:#fff;}
input[id="menuicon"]:checked + label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
input[id="menuicon"]:checked + label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked + label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}
div[class="sidebar"] {width:300px;height:100%;background:#222;position:fixed;top:0;right:-300px;z-index:1;transition:all .35s;}
input[id="menuicon"]:checked + label + div {right:0;}



.weatherbutton {
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    margin-left: 80px;
  }
  
  .active {
    background-color: palegoldenrod;
  }

  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .container > div {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .weather-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
  }

  
  .clothesroompage {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(20px, -20px);
  }

  .clothesroom-button {
    display : none;
  }

  label {
    display: inline-block;
    margin-right: 30px;
  }

  .weather-buttons {
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
  }
  
  #sidebar1{
    position:absolute;
    width: 30%;
    height: 100%;
    left: -30%;
    background-color: black;
}
#sidebar1 li{
    color: white;
    font-size: 20px;
    padding: 25px;
    border-bottom: 1px solid gray;
}
.toggle-btn{
    width: 0px;
    height: 0px;
    border-left: 50px solid grey;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: 105%;
    top: 200px
}
.toggle-btn span{
    display: block;
    background-color: black;
    width: 30px;
    height: 5px;
    margin: 3px;
    cursor: pointer;
}

#sidebar1.active{
    left: 0
}

*{
  margin: 0;
  padding: 0;
}
#sidebar1{
  position:absolute;
  width: 30%;
  height: 100%;
  left: -30%;
  background-color: black;
}
#sidebar1 li{
  color: white;
  font-size: 20px;
  padding: 25px;
  border-bottom: 1px solid gray;
}
.toggle-btn{
  width: 0px;
  height: 0px;
  border-left: 50px solid grey;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  left: 105%;
  top: 200px
}
.toggle-btn span{
  display: block;
  background-color: black;
  width: 30px;
  height: 5px;
  margin: 3px;
  cursor: pointer;
}
#sidebar1.active{
  left: 0
}